body {
    background-image: url("../img/bg.png");
    margin: 0;
}

p {
    /* color: white;
    text-align: left;
    display: inline-flex;
    margin-left: 10px; */
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/bg.png");

}

nav {
    margin: 0;
    width: 100%;
    background-color: #333;
}

nav div#center_menu_item {

    display: inline-block;
    /*margin-left: 0px;*/
    width: 60%;
}

nav div#right_menu_item {
    display: inline-block;
    float: right;
    min-width: 20%;
    text-align: right;

    color: white;
}

nav div#menu_item_inside {
    padding: 13px 13px 13px 10px;

}

nav div#left_menu_item {
    display: inline-block;
    float: left;
    min-width: 20%;
    color: white;
}

img#menu_icon {
    vertical-align: bottom;

}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav li {

    float: left;
}


nav li a {
    margin: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    margin: 0;
    background-color: #111;
}

header {
    text-align: center;
    width: 100%;
    height: 60vh;
    min-height: 300px;
    background-image: url("../img/header.png");
    background-position: center;
    background-size: cover;
    color: white;
    margin: 0px;

}


section {
    display: block;
    margin-top: 3px;
    min-height: 500px;
    background-image: url("../img/bg.png");
}


section.store {
    min-height: 200px;
    background: none;
    text-align: center;
    align-content: center;
    padding: 0 0 20px;
}

section.store h1 {
    padding: 15px 0 10px;
    margin: 0px;
    display: block;
}

section.store img {
    align-content: center;
    border-radius: 8px;
    height: 180px;
    width: 180px;
}

.artifact_container {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.artifact_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px;
    width: 180px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(219, 219, 219);
    border-radius: 8px;
}

.artifact_container:hover .artifact_overlay {
    opacity: 0.8;
}

.artifact_text_title {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.artifact_text_description {
    color: rgb(0, 0, 0);
    font-size: 12px;
    position: absolute;
    font-style: italic;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.artifact_text_cost {
    color: rgb(0, 0, 0);
    font-size: 12px;
    position: absolute;
    top: 86%;
    right: -3%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.artifact_text_cost img#icon {
    padding: 0 3px;
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}

section.profile {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

div.profile {
    margin-top: 30px;
    height: 40vh;
    width: 100%;

}

div.player_info {
    position: relative;
    margin: 2%;
    min-height: 150px;
    width: 30%;
    /*flex-direction: column;*/
    align-content: center;
    /*opacity: 0.7;*/
    /*background-color: rgb(24, 13, 13);*/
}

div#user_box {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    position: absolute;
    display: inline-flex;
    margin: 0;
    width: auto;
    background-color: rgba(24, 13, 13, 0.7);
    height: 112px;

}

div.avatar {
    position: relative;
    margin: 0;
    display: inline-flex;
    height: auto;
    width: 95px;
    right: 2px;
    top: -15px;
}

img#avatar {
    position: absolute;
    display: inline-flex;
    width: 100%;
    z-index: 1;
}


div.container {
    min-height: 159px;
    width: 64%;
    align-content: center;
    opacity: 0.7;
    background-color: rgb(24, 13, 13);
}


div.items {
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
}

div#owned_items {
    align-content: center;
    text-align: center;

}


div#profile_items {
    margin: 0;
    padding: 0;
    min-height: 159px;
    opacity: 0.7;
    background-color: rgb(24, 13, 13);
}

#profile_items h1 {
    margin: 0;
    color: white;
}


section.items img {
    align-content: center;
    border-radius: 8px;
    height: 180px;
    width: 180px;
}

footer {
    min-height: 50px;
    background-color: #111111;
    text-align: center;
    color: white;
}
